<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <img
      src="https://media.geeksforgeeks.org/wp-content/uploads/20201021015029/WINWORD3DROTliALc.png"
      alt="safcsp"
    />
  </body>
</html>
